.root {
	height: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	padding: var(--spacingL) var(--spacingXL);

	@media (width < 720px) {
		padding: var(--spacingM);
	}

	h1 {
		text-align: center;
		margin-top: 0;

		@media (width < 720px) {
			margin-bottom: var(--spacingL);
			font-size: 1.5rem;
		}
		@media (width >= 720px) {
			margin-bottom: var(--spacingXL);
		}
	}
}