.listPanel {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	flex-shrink: 0;
	padding-right: var(--spacingL);
	border-right: 1px solid var(--borderColor);

	ul {
		margin-top: var(--spacingM);
		overflow-y: auto;
	}
}