.root {
	display: flex;
	flex: 1;
}

.leftPanel {
	max-width: 400px;
	padding-right: var(--spacingL);
	border-right: 1px solid var(--borderColor);
}

.task {
	flex: 1;
	max-width: 600px;
	padding-left: var(--spacingL);
}