.tasksPanel {
	max-width: 400px;
	flex-shrink: 0;
	padding-right: var(--spacingL);
	padding-left: var(--spacingL);
	border-right: 1px solid var(--borderColor);

	ul {
		margin-top: var(--spacingM);
		position: relative;
	}
}

.editTaskPanel {
	flex: 1;
	max-width: 600px;
	min-width: 300px;
	flex-shrink: 0;
	padding-left: var(--spacingL);
	padding-right: var(--spacingL);
}

.task {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--spacingXS) var(--spacingS);
	border-radius: 0.375rem;
	cursor: pointer;

	&:hover {
		background-color: rgb(0,0,0,0.06);
	}
	&:not(:last-child) {
		margin-bottom: var(--spacingXXS);
	}

	p {
		padding-right: var(--spacingXS);
	}
	svg {
		flex-shrink: 0;
		width: 24px;
		height: 24px;
		fill: rgba(185,58,19, 0.4);

		&:hover {
			fill: rgba(185,58,19, 0.8);
		}
	}
}

.selectedTask {
	&, &:hover {
		background-color: #8AA7FF;
	}
}

.insertTask {
	padding: var(--spacingXS) var(--spacingM);
	font-style: italic;
	font-size: 0.875rem;
}