.tasksPanel {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	background-color: #fff;

	@media (width > 720px) {
		padding-right: var(--spacingL);
		border-right: 1px solid var(--borderColor);
	}
	@media (width < 1200px) {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 200;
	}
	@media (width > 720px) and (width < 1200px) {
		right: 50%;
	}
	@media (width >= 1200px) {
		right: 50%;
		padding-left: var(--spacingL);
		max-width: 360px;
	}

	ul {
		margin-top: var(--spacingM);
		overflow-y: auto;
	}
}

.editTaskPanel {
	flex: 1;
	flex-shrink: 0;
	background-color: #fff;

	@media (width > 720px)  {
		padding-left: var(--spacingL);
		max-width: 500px;
	}
	@media (width < 1200px) {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 150;
	}
	@media (width > 720px) and (width < 1200px) {
		left: 50%;
	}
}
.editTaskPanelActive {
	z-index: 300;
}

.backToListsButton {
	margin-bottom: var(--spacingL);

	@media (width >= 1200px) {
		display: none;
	}
}

.backToTasksButton {
	margin-bottom: var(--spacingL);

	@media (width > 720px) {
		display: none;
	}
}

.task {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--spacingXS) var(--spacingS);
	border-radius: 0.375rem;
	cursor: pointer;

	&:hover {
		background-color: rgb(0,0,0,0.06);
	}
	&:not(:last-child) {
		margin-bottom: var(--spacingXXS);
	}

	p {
		padding-right: var(--spacingXS);
	}
	svg {
		flex-shrink: 0;
		width: 24px;
		height: 24px;
		fill: rgba(185,58,19, 0.4);

		&:hover {
			fill: rgba(185,58,19, 0.8);
		}
	}
}

.selectedTask {
	&, &:hover {
		background-color: #8AA7FF;
	}
}

.insertTask {
	padding: var(--spacingXS) var(--spacingM);
	font-style: italic;
	font-size: 0.875rem;
}